.Hero {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-image: url("./landscape.jpg");
  background-position: center;
  background-size: cover;
}

.Cube {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.Cube-face {
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
  box-shadow: inset 0 0 0 1px rgba(134, 134, 134, 0.5);
}

.Credits {
  position: fixed;
  bottom: 10px;
  left: 0;
  width: 100%;
  text-align: center;
  color: white;
}

.Credits a {
  color: inherit;
}